# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# docker
docker/base/rocky8/*
docker/base/rocky9/*
docker/base/ubuntu22/*
docker/base/ubuntu24/*

!docker/base/rocky8/Dockerfile
!docker/base/rocky9/Dockerfile
!docker/base/rocky9/python3.12
!docker/base/ubuntu22/Dockerfile
!docker/base/ubuntu24/Dockerfile

build/

base/pkg